<div class="zoom-gallery row g-1">
            <div class="col-xs-12 col-auto mb-3">
                <div class="p-2 border rounded-3">
                    <a href="assets/img/projects/project.jpg" title="Document 1"><img class="img-fluid" src="assets/img/projects/project.jpg" width="100"></a>
                <br>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary mt-2" data-bs-toggle="tooltip" title="Download Document"><i class="fa-solid fa-download"></i></button>
                    <button class="btn btn-sm btn-danger mt-2" data-bs-toggle="tooltip" title="Reject Document"><i class="fa-solid fa-trash-can"></i></button>
                </div>
                </div>
                   
            </div>
            <div class="col-xs-12 col-auto mb-3">
                <div class="p-2 border rounded-3">
                    <a href="assets/img/projects/project.jpg" title="Document 1"><img class="img-fluid" src="assets/img/projects/project.jpg" width="100"></a>
                <br>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary mt-2" data-bs-toggle="tooltip" title="Download Document"><i class="fa-solid fa-download"></i></button>
                    <button class="btn btn-sm btn-danger mt-2" data-bs-toggle="tooltip" title="Reject Document"><i class="fa-solid fa-trash-can"></i></button>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-auto mb-3">
                <div class="p-2 border rounded-3">
                    <a href="assets/img/projects/project.jpg" title="Document 1"><img class="img-fluid" src="assets/img/projects/project.jpg" width="100"></a>
                <br>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary mt-2" data-bs-toggle="tooltip" title="Download Document"><i class="fa-solid fa-download"></i></button>
                    <button class="btn btn-sm btn-danger mt-2" data-bs-toggle="tooltip" title="Reject Document"><i class="fa-solid fa-trash-can"></i></button>
                </div>
                </div>
            </div>
            
        </div>